.navbar-brand {
    font-weight: bold;
  }
  
  .nav-link {
    margin-right: 10px;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: #f8f9fa;
  }
  
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #adb5bd;
  }
  body .bg-dark {
    --bs-bg-opacity: 1 !important;
    background-color: rgb(67 31 14) !important;
    z-index: 1 !important;
}
/* CSS file */
.navbar-logo {
  width: 30px;
  height: 30px;
  filter: invert(52%) sepia(76%) saturate(1593%) hue-rotate(1deg) brightness(97%) contrast(93%);
}