/* Centering and styling for ResetPassword page */

.reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh; /* Full viewport height */
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* background-color: #f9f9f9; */
    background-color:#fbf2e7;
  }
  
  .reset-password-container h2 {
    margin-bottom: 1rem;
    font-size: 24px;
    color: #333;
  }
  
  .reset-password-container .message {
    color: red;
    margin-bottom: 1rem;
  }
  
  .reset-password-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .reset-password-container label {
    font-size: 14px;
    color: #666;
    margin-bottom: 0.5rem;
  }
  
  .reset-password-container input {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .reset-password-container button {
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background: linear-gradient(to left, #c09260, #542f08);
        
        color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
  
  .reset-password-container button:hover {
    background-color: #0056b3;
  }
 
  
  .reset-logo {
    width: 80px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 1rem; /* Space between logo and heading */
    filter: invert(30%) sepia(100%) saturate(300%) hue-rotate(-10deg) brightness(90%) contrast(85%);
  }
  
  /* ... existing CSS code for input fields, labels, and button */
  